@charset "euc-kr";
html{height:100%;}
body{background:#fff;color:#666;font-size:16px;letter-spacing:-1px;-webkit-text-size-adjust:none;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,select,textarea,p,blockquote,th,td,button{margin:0;padding:0;font-family:'Roboto','Droid Sans','Malgun Gothic','Helvetica','Apple-Gothic','애플고딕','Tahoma',dotum,'돋움',gulim,'굴림',sans-serif;}
section,nav,article,aside,hgroup,header,footer{display:block;}
form,fieldset,img{border:0 none;}
table{border-spacing:0;border:0;}
em{font-style:normal}
ul,ol,li{list-style:none outside;}
input,select{vertical-align:middle;}
a{/*display:inline-block;*/text-decoration:none;color:#666;}
li,p,dt,dd,div,span{word-break:break-all;/*word-wrap:break-word;*/}
legend, caption, .skip, .hide{visibility:hidden;overflow:hidden;width:0;height:0;font-size:0;line-height:0;margin:0;padding:0;}
input[type='text'], input[type='password'], input[type='tel'], input[type='number'], input[type='search'], input[type='email']{height:32px;padding:0 8px;background:#fff;color:#666;border:1px solid #ccc;font-size:13px;-webkit-border-radius:0;-webkit-appearance:none;-webkit-box-sizing:border-box;box-sizing:border-box;}
input[type=search]::-webkit-search-cancel-button{-webkit-appearance:none}
input[type=number]::-webkit-outer-spin-button, input[type=number]::-webkit-inner-spin-button{-webkit-appearance:none}
button, input[type='button'], input[type='submit'], input[type='reset']{cursor:pointer;-webkit-border-radius:0;-webkit-appearance:none;}
select{height:32px;padding:0 30px 0 3px;border:1px solid #ccc;background:#fff url('/techplanning/img/order/img_form.png') no-repeat 100% 0;background-size:31px 131px;color:#666;font-size:13px;-webkit-border-radius:0;-webkit-appearance:none;-moz-appearance:none;}
textarea {padding:8px;border:1px solid #737373;color:#ccc;font-size:13px;-webkit-border-radius:0;-webkit-box-sizing:border-box;box-sizing:border-box;}
iframe{display:block;}
html.android.v2_0 a, html.android.v2_0 button{-webkit-tap-highlight-color:rgba(0, 0, 0, 0);}
/*checkbox & radio*/
.chkBox{display:inline-block;}
.chkBox input[type='checkbox']{position:absolute;width:24px;height:24px;margin:0;opacity:0;}
.chkBox label{display:inline-block;min-height:24px;}
.chkBox label:before{content:'';display:inline-block;width:24px;height:24px;margin-right:4px;background:url('/techplanning/img/order/img_form.png') no-repeat 0 -31px;background-size:31px 131px;vertical-align:middle;}
.chkBox input[type='checkbox']:checked + label:before{background-position:0 -56px}
.rdoBox{display:inline-block;}
.rdoBox input[type='radio']{position:absolute;width:24px;height:24px;margin:0;opacity:0;}
.rdoBox label{display:inline-block;min-height:24px;}
.rdoBox label:before{content:'';display:inline-block;width:24px;height:24px;margin-right:4px;background:url('/techplanning/img/order/img_form.png') no-repeat 0 -81px;background-size:31px 131px;vertical-align:middle;}
.rdoBox input[type='radio']:checked + label:before{background-position:0 -106px}
/* GNB 2016.07*/
.gnb_mw{position:relative;height:45px;padding-top:10px;background:#fff;border-bottom:1px solid rgba(0,0,0,0.15);}
.gnb_mw h1{position:absolute;top:10px;left:46px;}
.gnb_mw h1 a{display:block;overflow:hidden;width:62px;height:36px;background:url('/techplanning/img/common/gnb_sx.png') no-repeat -271px 0;background-size:380px 36px;color:transparent;}
.gnb_mw .srch {display:block;position:relative;height:34px;margin:0 53px 0 118px;padding-right:39px;border:1px solid #d9d9d9;-webkit-border-radius:2px;border-radius:2px;background:#fafafa;}
.gnb_mw .srch input[type='search']{display:block;width:100%;height:34px;padding:1px 0 0 8px;background:transparent;border:none;font-size:13px;color:#454444;
-webkit-border-radius:0;-webkit-appearance:none;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.gnb_mw .srch input[type='search']:focus{outline:none;}
.gnb_mw .srch input[type='submit'] {overflow:hidden;position:absolute;top:-1px;right:-1px;width:39px;height:35px;border:none;-webkit-border-radius:2px 2px 0 0;border-radius:2px 2px 0 0;background:url('/techplanning/img/common/gnb_sx.png') no-repeat -152px 0;background-size:380px 36px;text-indent:-1000px;}
.gnb_mw .srch .del{overflow:hidden;position:absolute;top:0;right:42px;width:35px;height:34px;border:none;background:#fff url('/techplanning/img/common/gnb_sx.png') no-repeat -235px -1px;background-size:380px 36px;text-indent:-1000px;}
.gnb_mw .prev{overflow:hidden;position:absolute;top:10px;left:10px;width:37px;height:39px;border:none;background:url('/techplanning/img/common/gnb_sx.png') no-repeat -76px 0;background-size:380px 36px;color:transparent;}
.gnb_mw fieldset .prev{display:none;}
.gnb_mw .mu{overflow:hidden;position:absolute;top:10px;width:37px;height:36px;border:none;background:url('/techplanning/img/common/gnb_sx.png') no-repeat 0 0;background-size:380px 36px;color:transparent;}
.gnb_mw .mu.cate{left:10px;}
.gnb_mw .mu.cart{right:10px;background-position:-38px 0}
.gnb_mw .mu.sear{right:50px;background-position:-114px 0}
body.totalSearchType .gnb_mw h1, body.totalSearchType .gnb_mw .mu{display:none;}
body.totalSearchType .gnb_mw .srch{display:block;height:34px;margin:0 10px 0 53px;padding-right:78px;border:1px solid #f62d3c;background-color:#fff;-webkit-border-radius:2px;border-radius:2px;/*transition:0.3s;*/}
body.totalSearchType .gnb_mw .srch:after{display:none;}
body.totalSearchType .gnb_mw .srch input[type='search']{height:34px;}
body.totalSearchType .gnb_mw .prev{display:none;}
body.totalSearchType .gnb_mw fieldset .prev{display:block;}
body.totalSearchType .gnb_mw .srch input[type='submit']{top:-1px;right:-1px;width:42px;height:35px;background-color:#f62d3c;background-position:-192px 0}
.gnb_m h1 a{width:36px;background-position:-271px 0;}
.gnb_m .srch {height:26px;margin:0 67px 0 82px;padding-right:27px;border:none;border-bottom:4px solid #f43142;-webkit-border-radius:0;border-radius:0;background:#fff;}
.gnb_m .srch:after{content:'';position:absolute;top:0;right:-15px;width:15px;height:30px;background:url('/techplanning/img/common/gnb_sx.png') no-repeat -335px 0;background-size:380px 36px;}
.gnb_m .srch input[type='search']{height:24px;padding:1px 0 0 6px;}
.gnb_m .srch input[type='submit']{top:0;right:-4px;width:30px;height:30px;border:none;background-position:-351px 0;}
.gnb_d .srch {display:none;}

/*자동완성*/
.kwd{display:none;overflow:hidden;position:relative;border-bottom:1px solid #96a4ae;background:#fafafa;}
.kwd ul{overflow:hidden;float:left;width:50%;background:#fff;}
.kwd ul:nth-child(odd) {border-right:1px solid #d5d4d9;margin-left:-1px;}
.kwd li{overflow:hidden;height:34px;margin-bottom:-1px;border-bottom:1px solid #d5d4d9;}
.kwd li a{display:block;overflow:hidden;height:15px;padding:10px;color:#666;font-size:0.8em;font-weight:bold;line-height:1.4em;white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis;}
.kwd li a strong{color:#e71818;font-weight:normal}
.kwd .btn_close {position:absolute;bottom:9px;right:10px;}
.btn_close{overflow:hidden;height:26px;padding:0 27px 0 12px;border:1px solid #d5d4d9;border-width:0 1px 1px 1px;background:#fff;border-radius:0 0 3px 3px;-moz-border-radius:0 0 3px 3px;color:#666;font-size:0.7em;font-weight:bold;line-height:26px;text-align:center;}
button.btn_close{height:27px;}
.btn_close:before, .btn_close:after {content:'';position:absolute;left:auto;right:14px;top:6px;width:3px;height:12px;background:#979eb3;box-shadow:inset 0 0 0 #979eb3;-moz-box-shadow:inset 0 0 0 #979eb3;-webkit-box-shadow:inset 0 0 0 #979eb3;}
.btn_close:before{-webkit-transform: rotate(45deg);-moz-transform: rotate(45deg);-o-transform: rotate(45deg);-ms-transform: rotate(45deg);transform: rotate(45deg);}
.btn_close:after{-webkit-transform: rotate(-45deg);-moz-transform: rotate(-45deg);-o-transform: rotate(-45deg);-ms-transform: rotate(-45deg);transform: rotate(-45deg);}
/*검색관련*/
.kword{display:none;}
.kword .ctg{padding:10px 15px 17px;border-bottom:1px solid #edecf2;background:#fff;}
.kword .ctg h2{color:#111;font-size:15px;font-weight:normal;line-height:20px;}
.kword .ctg li{margin-top:7px;}
.kword .ctg li a{display:block;overflow:hidden;position:relative;height:20px;padding-left:21px;color:#5f7fe4;font-size:15px;line-height:20px;white-space:nowrap;text-overflow:ellipsis;}
.kword .ctg li a:before{position:absolute;top:0;left:0;width:20px;height:19px;background:url('/techplanning/img/common/kword.png') no-repeat 0 0;background-size:20px 175px;content:'';}
.kword .ctg li.m2 a:before{background-position:0 -20px}
.kword .ctg li.m3 a:before{background-position:0 -40px}
.kword .ctg li.m4 a:before{background-position:0 -60px}
.kword .ctg li.m5 a:before{background-position:0 -80px}
.kword .ctg li.m6 a:before{background-position:0 -100px}
.kword .ctg li.m7 a:before{background-position:0 -120px}
.kword .ctg li.m8 a:before{background-position:0 -140px}
.kword .vrt{margin-top:17px;font-size:14px;line-height:20px;}
.kword .vrt span{color:#333;}
.kword .vrt .type{display:inline-block;height:18px;padding:0 7px;margin-right:6px;border:1px solid #333;-webkit-border-radius:9px;border-radius:9px;font-size:11px;line-height:18px;vertical-align:middle;}
.kword .wrd{background:#fff;}
.kword .wrd li{position:relative;border-bottom:1px solid #edecf2;}
.kword .wrd li:first-child{border-top:none;}
.kword .wrd li a{display:block;overflow:hidden;height:45px;padding:0 40px 0 15px;color:#333;font-size:16px;line-height:45px;white-space:nowrap;text-overflow:ellipsis;}
.kword .wrd li a strong{color:#f62e3d;font-weight:normal;}
.kword .wrd li button{overflow:hidden;position:absolute;top:0;right:0;width:40px;height:45px;border:none;background:none;color:transparent;}
.kword .wrd li button:before{position:absolute;top:15px;right:15px;width:14px;height:14px;background:url('/techplanning/img/common/kword.png') no-repeat 0 -160px;background-size:20px 175px;content:'';}
.schwd{display:none;overflow:hidden;position:relative;padding:10px 8px;}
.schwd .sw_tab{display:table;width:100%;background:#e2e3e7;margin-bottom:10px;}
.schwd .sw_tab li{display:table-cell;width:33.3%;border:1px solid #cbcccf;border-width:1px 0 1px 1px;text-align:center;}
.schwd .sw_tab li:last-child{border-right-width:1px}
.schwd .sw_tab li a{display:block;height:2.4em;color:#6e7077;font-size:.95em;font-weight:bold;line-height:2.3em;}
.schwd .sw_tab li.on{border-color:#868ca7;border-right-width:1px;background:#8f94ae;}
.schwd .sw_tab li.on + li{border-left-width:0}
.schwd .sw_tab li.on a{color:#fff;}
.schwd .sw_tab li .pg{display:none;overflow:hidden;height:4px;margin-top:-6px;line-height:4px;}
.schwd .sw_tab li .pg span{display:inline-block;width:4px;height:4px;margin:0 2px 0 3px;border-radius:2px;background:#676c8a;vertical-align:top;}
.schwd .sw_tab li .pg span.on{background:#fff;}
.schwd .sw_tab li .pg b{display:block;overflow:hidden;height:4px;margin-top:-4px;font-size:4px;color:transparent;line-height:4px;}
.schwd .sw_tab li.on .pg{display:block;}
.sw_ft .close{position:relative;height:28px;border:none;background:#abb0b9;padding:0 24px 0 10px;-webkit-border-radius:2px;border-radius:2px;color:#fff;font-size:.85em;-webkit-perspective:100px;perspective:100px;}
.sw_ft .close:before, .sw_ft .close:after {content:'';position:absolute;left:auto;right:14px;top:8px;width:2px;height:12px;background:#fff;}
.sw_ft .close:before{-webkit-transform: rotate(45deg);-moz-transform: rotate(45deg);-o-transform: rotate(45deg);-ms-transform: rotate(45deg);transform: rotate(45deg);}
.sw_ft .close:after{-webkit-transform: rotate(-45deg);-moz-transform: rotate(-45deg);-o-transform: rotate(-45deg);-ms-transform: rotate(-45deg);transform: rotate(-45deg);}
header .sw_ft{margin-top:6px;text-align:right;}
header .kword .sw_ft{margin-right:10px;}
.schwd .sw_time{padding:10px;color:#919295;font-size:.75em;line-height:1.1em;}
.sw_con{position:relative;margin:0 8px;}
.sw_con ul{border:1px solid #dfdfe3;}
.sw_con li{position:relative;background:#fff;border-top:1px solid #dfdfe3;font-size:.95em;line-height:2.8em;}
.sw_con li:first-child{border-top:none;}
.sw_con li a{display:block;overflow:hidden;height:2.75em;margin:0 35px 0 10px;color:#333;text-overflow:ellipsis;white-space:nowrap;}
.sw_con .none{padding:60px 0;background:#fff;color:#abb0b9;font-size:.85em;line-height:3em;text-align:center;}
.sw_con.rec li button{position:absolute;top:0;right:0;width:32px;height:40px;border:none;background:none;color:transparent;}
.sw_con.rec li button:before, .sw_con.rec li button:after {content:'';position:absolute;left:auto;right:16px;top:50%;width:1px;height:16px;margin-top:-8px;background:#abb0b9;}
.sw_con.rec li button:before{-webkit-transform: rotate(45deg);-moz-transform: rotate(45deg);-o-transform: rotate(45deg);-ms-transform: rotate(45deg);transform: rotate(45deg);}
.sw_con.rec li button:after{-webkit-transform: rotate(-45deg);-moz-transform: rotate(-45deg);-o-transform: rotate(-45deg);-ms-transform: rotate(-45deg);transform: rotate(-45deg);}
.sw_con.rec .del_all{border:none;background:none;padding:10px;color:#808793;font-size:.85em;}
.sw_con.rec .del_all:after{content:'';display:inline-block;width:13px;height:12px;margin-left:4px;background:url('/techplanning/img/common/schword.png') no-repeat 0 0;background-size:53px 12px;vertical-align:-1px;}
.sw_con.fast li a{margin:0 43px 0 33px;}
.sw_con li a b{overflow:hidden;position:absolute;left:9px;top:50%;width:14px;height:13px;margin-top:-7px;background:#949dac;border:1px solid #8c95a4;-webkit-border-radius:2px;border-radius:2px;color:#fff;font-size:10px;line-height:14px;text-align:center;}
.sw_con li.rk a{color:#e90e2d;}
.sw_con li.rk a b{border-color:#f13550;background:#f05168;}
.sw_con .rt{position:absolute;right:9px;top:0;min-width:43px;color:#999;font-size:13px;text-align:right;}
.sw_con .rt span{overflow:hidden;display:inline-block;width:8px;height:12px;margin-left:5px;background-image:url('/techplanning/img/common/schword.png');background-size:56px 12px;color:transparent;vertical-align:-0.2em;}
.sw_con .rt.up span{background-position:-14px 0;}
.sw_con .rt.dw span{background-position:-23px 0;}
.sw_con .rt.sm span{background-position:-32px 0;}
.sw_con .rt.nw{color:#f85864;font-weight:bold;}
.sw_con.ppu li a{margin:0 10px 0 33px;}
.sw_con .swp{overflow:hidden;position:relative;width:100%;}
.schwd .prev, .schwd .next{overflow:hidden;position:absolute;top:50%;width:24px;height:46px;margin-top:-39px;background:rgba(0,0,0,0.2);border:none;text-indent:-100px;z-index:11}
.schwd .prev{left:0;border-radius:0 2px 2px 0;}
.schwd .next{right:0;border-radius:2px 0 0 2px;}
.schwd .prev:before, .schwd .next:before{content:'';position:absolute;top:50%;left:50%;width:7px;height:11px;margin:-6px 0 0 -4px;background:url('/techplanning/img/common/schword.png') no-repeat -41px 0;background-size:56px 12px;}
.schwd .next:before{background-position:-49px 0;}
.sw_swp{overflow:hidden;position:relative;margin:0 -8px}
/*GNB 상단배너*/
.head_bnr{overflow:hidden;position:relative;z-index:2;}
.head_bnr a{display:block;background-color:#e7e7ea;}
.head_bnr a img{display:block;width:320px;height:51px;margin:auto;}
.head_bnr button{overflow:hidden;position:absolute;top:0;right:0;width:45px;height:50px;background:none;border:none;text-indent:-200px;}
.head_bnr button:before, .head_bnr button:after {content:'';position:absolute;left:auto;right:50%;top:50%;width:1px;height:20px;margin:-10px 0 0 -1px;background:#575c62;}
.head_bnr button:before{-webkit-transform: rotate(45deg);-moz-transform: rotate(45deg);-ms-transform: rotate(45deg);transform: rotate(45deg);}
.head_bnr button:after{-webkit-transform: rotate(-45deg);-moz-transform: rotate(-45deg);-ms-transform: rotate(-45deg);transform: rotate(-45deg);}
@media screen and (max-width:358px){.head_bnr button{right:-7px;}}
/*검색UI관련*/
body.totalSearchType{background:#f0f0f1;}
body.totalSearchType > *:not(#wrap){display:none !important;}
body.totalSearchType #wrap > *:not(header){display:none !important;}
body.totalSearchType .head_bnr{display:none !important;}
/* footer */
.f_down{background:#575c77;border-bottom:1px solid #666;}
.f_down ul{overflow:hidden;}
.f_down li{float:left;position:relative;width:50%;}
.f_down li a{display:block;padding:10px 0 9px;border-left:1px solid #686d85;color:#ccc;font-size:13px;line-height:1.5;text-align:center;}
.f_down ul li:first-child a{border-left:none;}
.f_down li a:before{content:'';display:inline-block;height:30px;margin:-7px 5px -5px 0;background:url('/techplanning/img/common/footer_icon.png') no-repeat 0 0;background-size:61px 30px;vertical-align:-0.55em;}
.f_down li a.app11st:before{width:30px;}
.f_down li a.shocking:before{width:30px;background-position:-31px 0;}

.f_top{position:fixed;overflow:hidden;bottom:20px;right:10px;width:40px;height:40px;-webkit-border-radius:2px;border-radius:2px;background:rgba(255,255,255,0.9) url('/techplanning/img/common/top.png') 10px 6px no-repeat;background-size:20px 30px;box-shadow:0 4px 4px 0 rgba(0,0,0,0.16);color:transparent;font-size:10px;font-weight:bold;letter-spacing:0;text-align:center;line-height:8px;z-index:99;}
.f_menu{background:#555;}
.f_menu ul{overflow:hidden;}
.f_menu li{float:left;position:relative;width:25%;}
.f_menu li a{display:block;height:3.1em;border-left:1px solid #666;color:#ccc;font-size:0.8em;line-height:3.1em;text-align:center;}
.f_menu ul li:first-child a{border-left:none;}
.f_foot{padding:20px 20px 60px;background:#888;color:#ddd;letter-spacing:0;}
.f_foot address{display:block;width:100%;font-size:0.7em;font-style:normal;line-height:1.2em;text-align:center;word-break: normal;}
.f_foot address strong{font-weight:normal;margin-right:6px;}
.f_foot address em{font-style:normal;}
.f_foot address .p{margin-right:2px;}
.f_foot address .e{display:inline-block;margin-left:4px;}
.f_foot address a{display:inline-block;color:#ddd;text-decoration:underline;}
.f_foot .link{margin-top:13px;font-size:0.7em;line-height:1.2em;text-align:center;letter-spacing:-1px;}
.f_foot .link a{display:inline-block;color:#ddd;-webkit-transform:translateZ(0px);}
.f_foot .link a:after{content:'';display:inline-block;overflow:hidden;width:1px;height:9px;margin:0 2px 0 6px;border-left:1px solid #c1c1c1;vertical-align:-1px}
.f_foot .link a:last-child{font-weight:bold;}
.f_foot .link a:last-child:after{content:'';display:inline-block;width:4px;height:4px;margin-left:2px;border:2px solid #ddd;border-width:2px 2px 0 0;-webkit-transform: rotate(45deg);-moz-transform: rotate(45deg);-ms-transform: rotate(45deg);transform: rotate(45deg);vertical-align:baseline;}
.f_foot .noti{margin:15px 0 0;color:#333;font-size:.7em;line-height:1.2em;word-break: normal;text-align:center;font-weight:bold;}
.f_foot .copy{margin:15px 0 0;color:#ddd;font-size:.7em;line-height:1.2em;letter-spacing:0;text-align:center;}
/* cts */
#cts{position:relative;margin:0 0 16px;}
body.grayType{background:#e3e3e8}
.lad{width:100%;z-index:99;}
.lad div{width:100%;height:48px;text-align:center;}
.lad a{display:block;width:100%;height:48px;}
.lad img{width:320px;height:48px;vertical-align:top;}
/* common-title */
.title{padding:13px 93px 9px 27px;border-bottom:1px solid #8c8c8c;color:#2d2d2d;font-size:0.95em;line-height:1.25em;word-wrap:break-word;}
.title:before{content:'';position:absolute;margin:5px 0 0 -17px;width:12px;height:9px;background:url('/techplanning/img/common/r1_bul_common_v1.png') no-repeat 0 -25px;}
.title2{padding:13px 27px 9px 27px;color:#2d2d2d;font-size:0.95em;line-height:1.25em;word-wrap:break-word;}
.title2:before{content:'';position:absolute;margin:5px 0 0 -17px;width:12px;height:9px;background:url('/techplanning/img/common/r1_bul_common_v1.png') no-repeat 0 -25px;}
.title2 .s{color:#888;font-size:0.73em;font-weight:normal;}
.tit_bs{margin:19px 10px 9px;padding-left:8px;color:#3b3b3b;font-size:0.85em;line-height:1.2em;}
.tit_bs:before{content:'';position:absolute;margin:3px 0 0 -8px;width:0;height:0;border-left:4px solid #4178cd;border-top:4px solid transparent;border-bottom:4px solid transparent;}
.tit_bs .st{font-size:0.85em;font-weight:normal;line-height:1.1em}
.title + .tit_bs{margin-top:10px;}
.tit_bs .s{color:#666;font-size:0.85em;font-weight:normal}
.stit_bs{margin:9px 0 9px;padding-left:8px;color:#555;font-size:0.85em;line-height:1.2em;}
.stit_bs:before{content:'';position:absolute;margin:6px 0 0 -8px;width:3px;height:3px;background:#a4a5a0;}
#cts > .stit_bs{margin-left:10px;}
.tit_note{margin-top:13px;padding-left:19px;color:#7a5d3d;font-size:0.85em;line-height:1.2em;}
.tit_note:before{content:'';position:absolute;margin:1px 0 0 -19px;width:15px;height:14px;background:url('/techplanning/img/common/r1_bul_common_v1.png') no-repeat 0 -35px;}
#cts > .tit_note{margin-left:10px;}
.tbtn{position:absolute;top:8px;right:10px;}
/* common-sub title */
.title_sb{overflow:hidden;height:44px;background-color:#f4f4f4;color:#333;font-size:17px;font-weight:normal;text-align:center;line-height:44px;border-bottom:1px solid #d1d1d6;}
.title_sb:before{display:none;}
.btn_rtop_sb{position:absolute;right:0;top:0;}
.btn_rtop_sb a{overflow:hidden;position:absolute;top:0;right:0;height:37px;padding:0 10px;background:none;border:none;color:#6ad3ff;font-size:.8em;line-height:38px;white-space:nowrap;text-shadow:1px 1px 1px rgba(0,0,0,0.2);-webkit-perspective:100px;perspective:100px;}
.btn_rtop_sb a:after{content:'';display:inline-block;width:6px;height:6px;margin-left:5px;border:2px solid #6ad3ff;border-width:2px 2px 0 0;vertical-align:0;-webkit-transform: rotate(45deg);-moz-transform: rotate(45deg);-ms-transform: rotate(45deg);transform: rotate(45deg);}
/* common-btn */
.btns, .btnsr, .btnsrw, .btnsg, .btnsb{display:inline-block;padding:1px;background:#fff;box-shadow:0px 1px 0px #e0e0e0;-moz-box-shadow:0px 1px 0px #e0e0e0;-webkit-box-shadow:0px 1px 0px #e0e0e0;}
.btns > *, .btnsr > *, .btnsrw > *, .btnsg > *, .btnsb > *{display:block;height:1.75em;padding:0 8px;border:none;color:#666;font-size:0.75em;font-weight:bold;line-height:1.75em;text-align:center;}
.btns {border:1px solid #bfbfbf;}
.btns span,
.btns input,
.btns button{background:#f2f2f2;background:-webkit-gradient(linear, 0 0, 0 bottom, from(#fff), to(#f2f2f2));background: -webkit-linear-gradient(#fff, #f2f2f2);background: -moz-linear-gradient(#fff, #f2f2f2);background:-ms-linear-gradient(#fff, #f2f2f2);background:-o-linear-gradient(#fff, #f2f2f2);background:linear-gradient(#fff, #f2f2f2);}

.btns span.arr{padding-right:18px;}
.btns span.arr:after{content:'';position:absolute;width:0;height:0;margin:5px 0 0 5px;border-left:5px solid #8d8d8d;border-top:5px solid transparent;border-bottom:5px solid transparent;}
.btns span.back{padding-left:18px;}
.btns span.back:before{content:'';position:absolute;width:0;height:0;margin:5px 0 0 -10px;border-right:5px solid #8d8d8d;border-top:5px solid transparent;border-bottom:5px solid transparent;}

.btnsr {border:1px solid #db1700;background:#fd3d3d;background:-webkit-gradient(linear, 0 0, 0 bottom, from(#fe6565), to(#f44041));background: -webkit-linear-gradient(#fe6565, #f44041);background: -moz-linear-gradient(#fe6565, #f44041);background:-ms-linear-gradient(#fe6565, #f44041);background:-o-linear-gradient(#fe6565, #f44041);background:linear-gradient(#fe6565, #f44041);}
.btnsr > *{color:#fff;background:#fd3d3d;background:-webkit-gradient(linear, 0 0, 0 bottom, from(#fd3d3d), to(#f11213));background: -webkit-linear-gradient(#fd3d3d, #f11213);background: -moz-linear-gradient(#fd3d3d, #f11213);background:-ms-linear-gradient(#fd3d3d, #f11213);background:-o-linear-gradient(#fd3d3d, #f11213);background:linear-gradient(#fd3d3d, #f11213);}
.btnsrw {border:1px solid #f30904;}
.btnsrw > *{color:#f30904;background:#fff2ed;background:-webkit-gradient(linear, 0 0, 0 bottom, from(#fff), to(#fff2ed));background: -webkit-linear-gradient(#fff, #fff2ed);background: -moz-linear-gradient(#fff, #fff2ed);background:-ms-linear-gradient(#fff, #fff2ed);background:-o-linear-gradient(#fff, #fff2ed);background:linear-gradient(#fff, #fff2ed);}
.btnsg {border:1px solid #868686;background:#a1a1a1;background:-webkit-gradient(linear, 0 0, 0 bottom, from(#a1a1a1), to(#6c6c6c));background: -webkit-linear-gradient(#a1a1a1, #6c6c6c);background: -moz-linear-gradient(#a1a1a1, #6c6c6c);background:-ms-linear-gradient(#a1a1a1, #6c6c6c);background:-o-linear-gradient(#a1a1a1, #6c6c6c);background:linear-gradient(#a1a1a1, #6c6c6c);}
.btnsg > *{color:#fff;background:#8f8f8f;background:-webkit-gradient(linear, 0 0, 0 bottom, from(#8f8f8f), to(#535353));background: -webkit-linear-gradient(#8f8f8f, #535353);background: -moz-linear-gradient(#8f8f8f, #535353);background:-ms-linear-gradient(#8f8f8f, #535353);background:-o-linear-gradient(#8f8f8f, #535353);background:linear-gradient(#8f8f8f, #535353);}
.btnsb {border:1px solid #0579b4;background:#6fbedc;background:-webkit-gradient(linear, 0 0, 0 bottom, from(#75c4e2), to(#69bad8));background: -webkit-linear-gradient(#75c4e2, #69bad8);background: -moz-linear-gradient(#75c4e2, #69bad8);background:-ms-linear-gradient(#75c4e2, #69bad8);background:-o-linear-gradient(#75c4e2, #69bad8);background:linear-gradient(#75c4e2, #69bad8);}
.btnsb > *{color:#fff;background:#41aad2;background:-webkit-gradient(linear, 0 0, 0 bottom, from(#49b0d8), to(#39a4cc));background: -webkit-linear-gradient(#49b0d8, #39a4cc);background: -moz-linear-gradient(#49b0d8, #39a4cc);background:-ms-linear-gradient(#49b0d8, #39a4cc);background:-o-linear-gradient(#49b0d8, #39a4cc);background:linear-gradient(#49b0d8, #39a4cc);}

.btnb, .btnbr, .btnp, .btnpr, .btnbb, .btnbbb {display:inline-block;padding:1px;border:1px solid #8c8c8c;background:#fff;text-align:center;
	box-shadow:0px 1px 0px rgba(0,0,0,0.2);-webkit-box-shadow:0px 1px 0px rgba(0,0,0,0.2);}
.btnb > *, .btnbr > *, .btnp > *, .btnpr > *, .btnbb > *, .btnbbb > *{display:block;height:2.3em;padding:0 8px;margin:0;border:none;color:#555;font-size:0.95em;font-weight:bold;line-height:2.3em;
background:#f2f2f2;background:-webkit-gradient(linear, 0 0, 0 bottom, from(#fff), to(#f2f2f2));background: -webkit-linear-gradient(#fff, #f2f2f2);background: -moz-linear-gradient(#fff, #f2f2f2);background:-ms-linear-gradient(#fff, #f2f2f2);background:-o-linear-gradient(#fff, #f2f2f2);background:linear-gradient(#fff, #f2f2f2);}

.btnb {border:1px solid #8c8c8c;}
.btnb > *{color:#555;background:#f2f2f2;background:-webkit-gradient(linear, 0 0, 0 bottom, from(#fff), to(#f2f2f2));background: -webkit-linear-gradient(#fff, #f2f2f2);background: -moz-linear-gradient(#fff, #f2f2f2);background:-ms-linear-gradient(#fff, #f2f2f2);background:-o-linear-gradient(#fff, #f2f2f2);background:linear-gradient(#fff, #f2f2f2);}
.btnbr {border:1px solid #f30904;}
.btnbr > *{color:#f30904;background:#f2f2f2;background:-webkit-gradient(linear, 0 0, 0 bottom, from(#fff), to(#f2f2f2));background: -webkit-linear-gradient(#fff, #ffeee8);background: -moz-linear-gradient(#fff, #ffeee8);background:-ms-linear-gradient(#fff, #ffeee8);background:-o-linear-gradient(#fff, #ffeee8);background:linear-gradient(#fff, #ffeee8);}

.btnp {border:1px solid #595959;}
.btnp > *{color:#111;background:#f2f2f2;background:-webkit-gradient(linear, 0 0, 0 bottom, from(#fff), to(#ebebeb));background: -webkit-linear-gradient(#fff, #ebebeb);background: -moz-linear-gradient(#fff, #ebebeb);background:-ms-linear-gradient(#fff, #ebebeb);background:-o-linear-gradient(#fff, #ebebeb);background:linear-gradient(#fff, #ebebeb);}
.btnpr {border:1px solid #db1700;
	background:#f72727;background:-webkit-gradient(linear, 0 0, 0 bottom, from(#fe6565), to(#f33f40));background: -webkit-linear-gradient(#fe6565, #f33f40);background: -moz-linear-gradient(#fe6565, #f33f40);background:-ms-linear-gradient(#fe6565, #f33f40);background:-o-linear-gradient(#fe6565, #f33f40);background:linear-gradient(#fe6565, #f33f40);
	}
.btnpr > *{color:#fff;background:#f72727;background:-webkit-gradient(linear, 0 0, 0 bottom, from(#fe3e3e), to(#f11011));background: -webkit-linear-gradient(#fe3e3e, #f11011);background: -moz-linear-gradient(#fe3e3e, #f11011);background:-ms-linear-gradient(#fe3e3e, #f11011);background:-o-linear-gradient(#fe3e3e, #f11011);background:linear-gradient(#fe3e3e, #f11011);}
.btnbbb {border:1px solid #1a89d8;background:#76b5ed;background:-webkit-gradient(linear, 0 0, 0 bottom, from(#75c4e2), to(#69bad8));background: -webkit-linear-gradient(#75c4e2, #69bad8);background: -moz-linear-gradient(#75c4e2, #69bad8);background:-ms-linear-gradient(#75c4e2, #69bad8);background:-o-linear-gradient(#75c4e2, #69bad8);background:linear-gradient(#75c4e2, #69bad8);}
.btnbbb > *{color:#fff;background:#53a2e8;background:-webkit-gradient(linear, 0 0, 0 bottom, from(#53a2e8), to(#2a92e5));background: -webkit-linear-gradient(#53a2e8, #2a92e5);background: -moz-linear-gradient(#53a2e8, #2a92e5);background:-ms-linear-gradient(#53a2e8, #2a92e5);background:-o-linear-gradient(#53a2e8, #2a92e5);background:linear-gradient(#53a2e8, #2a92e5);}
.btnbb {border:1px solid #3898e5;}
.btnbb > * {color:#207fd1;background: #ffffff;background: -moz-linear-gradient(top,  #ffffff 0%, #eaf1f9 100%);background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#eaf1f9));background: -webkit-linear-gradient(top,  #ffffff 0%,#eaf1f9 100%);background: -o-linear-gradient(top,  #ffffff 0%,#eaf1f9 100%);background: -ms-linear-gradient(top,  #ffffff 0%,#eaf1f9 100%);background: linear-gradient(to bottom,  #ffffff 0%,#eaf1f9 100%);}

.btn_w2{overflow:hidden;margin:8px 4px 0;text-align:center;}
.btn_w2 div{float:left;width:50%;}
.btn_w2 div > span,
.btn_w2 div a{display:block;margin:0 4px;}
.btn_w2 div a.btnb span{padding-left:0;padding-right:0;}
.btn_w2 div button, .btn_w2 div input{width:100%;padding:0;}
.btn_wL{padding-top:8px;margin:8px 8px 0;border-top:1px solid #676767;}
.btn_w2.btn_wL div:first-child a{margin-left:0;}
.btn_w2.btn_wL div:first-child > span{margin-left:0;}
.btn_w2.btn_wL div:last-child a,
.btn_w2.btn_wL div:last-child > span{margin-right:0;}
/* common-btn - 신규 */
.bbtn,.mbtn,.sbtn{display:inline-block;border:1px solid #ccc;background-color:#fff;background-image:-webkit-linear-gradient(top,rgba(17,17,17,0),rgba(17,17,17,0.04));background-image:linear-gradient(180deg,rgba(17,17,17,0),rgba(17,17,17,0.04));color:#111;}
.bbtn{padding:0 14px;font-size:16px;line-height:46px;}
.mbtn{padding:0 14px;font-size:14px;line-height:30px;}
.sbtn{padding:0 8px;font-size:12px;line-height:22px;-webkit-box-sizing:border-box;box-sizing:border-box;}
button.bbtn, input[type='button'].bbtn, input[type='submit'].bbtn, input[type='reset'].bbtn, button.mbtn, input[type='button'].mbtn, input[type='submit'].mbtn, input[type='reset'].mbtn,
.bbtn, .mbtn{-webkit-border-radius:2px;border-radius:2px;-webkit-box-sizing:border-box;box-sizing:border-box;}
.bbtn.rd, .mbtn.rd, .sbtn.rd{border-color:#f43142;background:#f43142;color:#fff;}
.bbtn.gb, .mbtn.gb, .sbtn.gb{border-color:#868ba8;background:#868ba8;color:#fff;}
.bbtn.frd, .mbtn.frd, .sbtn.frd{border-color:#f8838e;color:#f43142;}
.bbtn.fbl, .mbtn.fbl, .sbtn.fbl{border-color:#5c5fd5;color:#5c5fd5;}
.mbtn.bk{border-color:#444;background:#444;color:#fff;}
.mbtn.gy{border-color:#757575;background:#757575;color:#fff;}
.bbtn.bno{padding-top:1px;padding-bottom:1px;border:none}
.bbtn.mor{-webkit-perspective:100px;perspective:100px;}
.bbtn.mor:after{display:inline-block;width:8px;height:8px;margin-left:2px;border:1px solid #666;border-width:2px 2px 0 0;-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg);content:'';}
.bbtn.gb.mor:after{border-color:#fff;}
.btn_w{margin:8px 8px 0;text-align:center;}
.btn_w:after{content:'';display:block;clear:both;}
.btn_w *{display:block;width:100%;}
.btn_w > div{float:left;width:50%;-webkit-box-sizing:border-box;box-sizing:border-box;}
.btn_w > div:first-child{padding-right:4px;}
.btn_w > div:last-child{padding-left:4px;}
.btn_w > div > *{padding:0;}
.btn_wc{margin-top:8px;text-align:center;}
.btn_wc > *{margin:0 2px;}
/*기존UI수정*/
.btn_w > button{width:100%;padding:0;}
.btn_w > a, .btn_w span{display:block;width:auto;}
/* icon common - 2015 */
.ic{display:inline-block;overflow:hidden;min-width:44px;height:17px;padding:0 2px;margin-right:1px;border:1px solid #d6d6d6;background:#fff;color:#92929c;font-size:11px;line-height:18px;text-align:center}
.ic.ms, .ic.tm, .ic.cd, .ic.mg, .ic.pt, .ic.ok{border-color:#ffaa9e;color:#ff411c;} /* 내맘대로,T멤버십,카드할인,마일리지,포인트,OK캐쉬백 */
.ic.ms{min-width:64px;}
.ic.dy, .ic.fs{border-color:#d6d6d6;color:#92929c;} /* 배송, 선착순 */
.ic.cp{border-color:#ff3c0d;background:#ff3c0d;color:#fff;font-weight:bold;} /*럭키쿠폰*/
/* common-paging 신규 */
.pages{position:relative;height:30px;padding:8px 0 0;text-align:center;}
.pages > *{display:inline-block;width:39px;height:30px;color:#666;font-size:14px;line-height:30px;vertical-align:top;-webkit-box-sizing:border-box;box-sizing:border-box;-webkit-border-radius:1px;border-radius:1px;}
.pages strong, .pages a.on{border:1px solid #311b92;color:#311b92;font-weight:bold;line-height:28px;}
.pages .prev, .pages .next{position:relative;width:37px;border:1px solid #dedfe2;color:transparent;font-size:10px;}
.pages .prev{margin-right:14px;}
.pages .next{margin-left:14px;}
.pages .prev:before, .pages .next:before{position:absolute;top:50%;left:50%;width:8px;height:12px;margin:-6px 0 0 -4px;background-image:url('/techplanning/img/common/pages.png');background-repeat:no-repeat;background-size:18px 12px;content:'';}
.pages .prev:before{background-position:0 0;}
.pages .next:before{background-position:-10px 0;}
.pages span.prev, .pages span.next{opacity:0.5;}
body.grayType .pages .prev, body.grayType .pages .next{border-color:#bcbdc4;background:#fff;}
body.grayType .pages a.on, body.grayType .pages strong{background:#fff;}
/* common-공지사항 */
.ntc_lst {margin-top:8px;padding:6px 0 0;border-top:1px solid #ababab;}
.ntc_lst li{position:relative;padding-left:8px;margin-top:2px;color:#666;font-size:0.75em;line-height:1.25em;}
.ntc_lst li:before{content:'';position:absolute;top:6px;left:0;width:4px;height:1px;background:#8c7458;}
.ntc_lst li.red{color:#8c7458 !important;}
.ntc_lst li.red:before{background:#8c7458;}
/* common-list */
.bs_lst {margin-top:8px;}
.bs_lst li{position:relative;padding-left:8px;margin-top:4px;color:#666;font-size:0.75em;line-height:1.25em;}
.bs_lst li:before{content:'';position:absolute;top:6px;left:0;width:3px;height:3px;background:#a4a5a0;}
.bs_lst li strong{color:#111;}
section .bs_lst:first-child{margin-top:13px;}
/* common class*/
.msgbox {margin:8px 8px 0;padding:18px 10px 18px;border:1px solid #ababab;text-align:center;}
.msgbox > strong {color: #2d2d2d;font-size: 0.85em;}
.msgbox p {margin-top:5px;color: #666;font-size: 0.75em;line-height:1.25em;}
/*html구좌(전면)*/
.db_html_all{overflow:hidden;width:100%;}
.db_html_all img{max-width:100%;}
/*html구좌(영업이벤트)*/
table.eventlayout{border-collapse:collapse;width:100%;}
table.eventlayout td{padding:0;}
table.eventlayout td a{display:block;}
table.eventlayout td img{display:block;width:100%;}
.html_set{position:relative;text-align:left;}
.html_set a{display:inline;}
.html_set .w_cell img{display:block;width:100%;}
.html_set .w_d{display:table;width:100%;}
.html_set .w_d .cell{display:table-cell;vertical-align:top;}
.html_set .w_d img{display:block;width:100%;}
.html_set .pop{display:none;position:absolute;}
.html_set .pop > a img,
.html_set .pop > img{display:block;width:100%;}
/* 도움말 & layer */
.help{display:inline-block;overflow:hidden;position:relative;width:16px;height:16px;margin-left:4px;background:#fff;border:1px solid #afb0c2;color:transparent;font-size:5px;vertical-align:middle;text-indent:-1000em;-webkit-border-radius:2px;border-radius:2px;}
.help:before{content:'';position:absolute;top:3px;left:5px;width:6px;height:10px;background:url('/techplanning/img/common/help_img.png') no-repeat 0 0;background-size:100% 100%}
.help_b{display:inline-block;overflow:hidden;position:relative;width:22px;height:22px;background:#fafafa;border:1px solid #ab9076;color:transparent;font-size:5px;vertical-align:middle;text-indent:-1000em;}
.help_b:before{content:'';position:absolute;top:5px;left:7px;width:7px;height:11px;background:url('/techplanning/img/common/help_b_img.png') no-repeat 0 0;background-size:100% 100%}
.lyw{display:none;position:absolute;left:0;overflow:hidden;width:100%;z-index:30;}
.lyw .lym{overflow:hidden;min-height:38px;margin:0 8px;border:1px solid #afb0c2;background:#fff;}
.lyw .cls{position:absolute;overflow:hidden;top:1px;right:8px;width:48px;height:38px;padding:0;border:none;background:none;text-indent:-10000px;-webkit-perspective:100px;perspective:100px;}
.lyw .cls:before, .lyw .cls:after{content:'';position:absolute;left:50%;top:50%;width:1px;height:22px;margin:-11px 0 0 0;background:#5d5fd6;-webkit-transform: rotate(45deg);-moz-transform: rotate(45deg);-ms-transform: rotate(45deg);transform: rotate(45deg);}
.lyw .cls:after{width:22px;height:1px;margin:0 0 0 -11px;}
.lyw .lyc{margin:10px 15px 15px;}
.lym .lyc:first-child{margin:10px 15px;}
.lym > h2, .lym > h3{margin:9px 15px 10px;color:#333;font-size:14px;line-height:20px;}
.lyw .lym > *:first-child:before{content:'';float:right;width:30px;height:20px;}
.app_lyr .lyc{padding:10px 15px 15px;}
/* 좋아요 레이어 팝업 */
.pop_like{display:none;position:absolute;left:50%;width:300px;margin-left:-150px;padding:10px 0;background:#fff;z-index:102;}
.pop_like .txt{margin:14px 0 24px;color:#3b3e46;font-size:1em;font-weight:bold;text-align:center;line-height:22px;}
.pop_like .txt .like{color:#f30904;}
.pop_like .txt .like:after{display:inline-block;position:relative;top:-1px;width:14px;height:14px;margin:0 2px;background:url('/techplanning/img/corner/ico_like_new.png') no-repeat -32px 0;background-size:65px 15px;vertical-align:middle;content:'';}
.pop_like .btn_w{margin:0;padding:10px 15px 0;border-top:1px solid #eee;}
.pop_like .btn_w > div{float:left;}
.pop_like .btn_w > div:first-child{width:75%;}
.pop_like .btn_w > div:last-child{width:25%;}
.pop_like .btn_w > div .bbtn{font-size:14px;font-weight:normal;line-height:38px;}
/* layer popup style */
.pop_atype{display:none;overflow:hidden;position:absolute;left:50%;width:280px;margin-left:-140px;background:#fff;z-index:102;}
html.android.v4_0 .pop_atype{-webkit-transform:translateZ(0px);}
.pop_atype .btn_w{margin:0 0 10px;padding:10px 15px 0;border-top:1px solid #eee;}
.pop_atype .btn_w .bbtn{font-size:14px;line-height:38px;}
.pop_atype .close{position:absolute;overflow:hidden;top:0;right:0;width:50px;height:40px;padding:0;border:none;background:none;text-indent:-10000px;-webkit-transform:translateZ(0px);}
.pop_atype .close:before, .pop_atype .close:after{content:'';position:absolute;left:50%;top:50%;width:1px;height:22px;margin:-11px 0 0 0;background:#5d5fd6;-webkit-transform: rotate(45deg);-moz-transform: rotate(45deg);-ms-transform: rotate(45deg);transform: rotate(45deg);}
.pop_atype .close:after{width:22px;height:1px;margin:0 0 0 -11px;}
/* layer popup - title/btn */
.pops_tit{margin-top:15px;color:#111;font-size:17px;font-weight:normal;line-height:1.2;text-align:center;}
.pops_btn{overflow:hidden;border-top:1px solid #d1d1d6;display:-webkit-box;display:-webkit-flex;display:flex;}
.pops_btn .pbtn{display:block;overflow:hidden;width:100%;height:48px;background:#fff;border:none;border-left:1px solid #d1d1d6;color:#111;font-size:17px;line-height:48px;text-align:center;-webkit-box-flex:1;-webkit-flex:1;flex:1;-webkit-box-sizing:border-box;box-sizing:border-box;}
.pops_btn .pbtn.frd{color:#f43142;}
.pops_btn .pbtn:first-child{border-left:none;}
.pops_cont{margin:15px 0;}

/* page popup head */
.pop_title{position:relative;height:49px;border-bottom:1px solid #aaa;background:#fff;}
.pop_title h1{overflow:hidden;margin:0 40px;color:#333;font-size:17px;text-align:center;line-height:50px;white-space:nowrap;text-overflow:ellipsis;}
.pop_title .close{position:absolute;top:0;right:0;width:50px;height:50px;border:none;background:none;color:transparent;font-size:10px;}
.pop_title .close:before, .pop_title .close:after{position:absolute;top:50%;left:50%;width:1px;height:26px;margin-top:-13px;background:#333;content:'';}
.pop_title .close:before{-webkit-transform:rotate(45deg);transform:rotate(45deg);}
.pop_title .close:after{-webkit-transform:rotate(-45deg);transform:rotate(-45deg);}
.pop_title .prev{position:absolute;top:0;left:0;width:50px;height:50px;border:none;background:none;color:transparent;font-size:10px;}
.pop_title .prev:after{overflow:hidden;position:absolute;top:50%;left:50%;width:37px;height:39px;margin:-20px 0 0 -19px;border:none;background:url('/techplanning/img/common/gnb_fv.png') no-repeat -76px 0;background-size:325px 36px;content:'';}
/*상세보기*/
#cTop{position:absolute;left:10px;top:10px;z-index:100;}
/*error*/
.msg9_new{clear:both;overflow:hidden;margin:14px 10px 16px;border:1px solid #ababab;}
.msg9_new .logo{padding-bottom:17px;margin:0 6px;border-bottom:1px dashed #c8c8c8;text-align:center;font-size:1.1em;color:#3b3b3b;font-weight:bold;line-height:1.2em;}
.msg9_new .logo strong{color:#f30904;}
.msg9_new .logo span{display:block;width:160px;margin:0 auto;text-indent:-1000em;}
.msg9_new .logo .err{height:99px;margin-bottom:6px;background:url('/techplanning/img/etc/error_msg.png') no-repeat 50% 50%;}
.msg9_new .logo .msg{width:264px;height:66px;margin-top:20px;background:url('/techplanning/img/etc/error_msg2.png') no-repeat 50% 50%;}
.msg9_new .txt{overflow:hidden;padding:14px 10px;font-size:0.8em;color:#3b3b3b;line-height:1.2em;text-align:center;}
.msg9_new .txt2{overflow:hidden;padding:10px 10px 8px 10px;border-top:1px solid #ababab;background:#f1f1f1;}
.msg9_new .txt2 li{overflow:hidden;position:relative;padding:0 0 1px 6px;font-size:0.8em;color:#666;line-height:1.2em;}
.msg9_new .txt2 li:before{content:'';position:absolute;top:6px;left:0;width:2px;height:2px;background:#666;}
/*외부유입플로팅배너(상단)*/
.ext_bnr{position:absolute;top:7px;left:50%;width:290px;margin-left:-145px;z-index:100;}
.ext_bnr a{display:block;overflow:hidden;-webkit-border-radius:4px;border-radius:4px;box-shadow:0px 5px 5px rgba(0,0,0,0.3);-webkit-box-shadow:0px 5px 5px rgba(0,0,0,0.3);}
.ext_bnr a img{display:block;width:290px;}
.ext_bnr button{display:block;overflow:hidden;position:absolute;top:0;right:0;width:34px;height:33px;border:none;background:transparent;text-indent:-1000px;}
/* 하단 floatingBnr */
.todaydeals{display:none;position:absolute;width:100%;z-index:100;}
.todaydeals a:first-child{display:block;overflow:hidden;position:relative;width:296px;height:130px;margin:0 auto 5px;background:#000;border:2px solid #000;box-shadow:0 0 5px rgba(0,0,0,0.6);border-radius:5px;}
.todaydeals img{display:block;width:100%;height:100%;border-radius:3px;}
.todaydeals .del{overflow:hidden;position:absolute;top:-5px;left:50%;width:30px;height:31px;margin-left:126px;border:none;box-shadow:none;background:url('/techplanning/img/main/todaydeals_close_r1.png') no-repeat 0 0;text-indent:-1000px;}
@media screen and (-webkit-min-device-pixel-ratio:1.5) {.todaydeals .del{background-image:url('/techplanning/img/main/todaydeals_close_r2.png');background-size:30px 31px;}}
/*swipe관련*/
.mwContainer{position:relative;width:100%;overflow:visible;}
html.android .mwContainer a:hover{-webkit-tap-highlight-color:rgba(0, 0, 0, 0);}
.mwView{width:100%;top:0px;left:0px;position:absolute;}
/*swiper*/
.swiper-slide-preload{position:absolute;top:0;left:0;}
/*제휴채널 앱호출*/
.pop_ext_app{position:fixed;left:50%;width:340px;margin-left:-170px;box-shadow:0 2px 2px 0 rgba(0,0,0,0.08);z-index:102;}
.pop_ext_app .con{padding:15px;border:1px solid #afb0c2;background:#fff;}
.pop_ext_app .bnr{overflow:hidden;}
.pop_ext_app .bnr a{display:block;max-width:308px;max-height:73px;margin:auto;}
.pop_ext_app .bnr img{display:block;width:308px;height:73px;}
.pop_ext_app .btn_app{display:block;margin-top:10px;background:#fff;border:1px solid #ec565a;border-radius:2px;color:#eb413b;font-size:14px;line-height:40px;text-align:center}
.pop_ext_app .txt_def{height:69px;padding:4px 0 0 80px;margin:0 10px;background:url('/techplanning/img/common/ext_applink.png') no-repeat 0 2px;background-size:65px 65px;color:#333;font-size:14px;line-height:19px;}
.pop_ext_app .txt_def b{display:block;color:#1a1a1a;font-size:18px;line-height:24px;}
.pop_ext_app .close{overflow:hidden;position:absolute;top:0;right:0;width:45px;height:45px;background:none;border:none;text-indent:-200px;}
.pop_ext_app .close:before,
.pop_ext_app .close:after{content:'';position:absolute;left:50%;top:50%;background:#5d5fd6;-webkit-transform: rotate(45deg);-moz-transform: rotate(45deg);-ms-transform: rotate(45deg);transform: rotate(45deg);}
.pop_ext_app .close:before{width:1px;height:23px;margin:-13px 0 0 -1px;}
.pop_ext_app .close:after{width:23px;height:1px;margin:-1px 0 0 -12px;}
@media screen and (max-width:359px) {
.pop_ext_app{width:300px;margin-left:-150px;}
.pop_ext_app .con{padding:15px 10px;}
.pop_ext_app .bnr img{width:278px;height:66px;}
.pop_ext_app .txt_def{margin:0 5px;}
}
/*캠페인 플로팅 배너*/
.cp_floating{position:fixed;bottom:44px;right:0;z-index:100;}
.cp_floating .cp_wrap{height:118px;padding-left:40px;margin-right:-270px;-webkit-transform: translateX(0px);-webkit-transition: -webkit-transform 0.5s ease;transform: translateX(0px);transition: transform 0.5s ease;}
.cp_floating .cp_banner{overflow:hidden;width:268px;height:114px;border:2px solid #333c48;border-right:none;border-radius:4px 0 0 4px;background:#3c4551;}
.cp_floating .cp_banner a{display:block;float:left;width:246px;height:114px;}
.cp_floating .cp_banner a img{display:block;width:246px;height:114px;border-radius:2px 0 0 2px;}
.cp_floating .cp_banner .stop{float:left;width:22px;height:114px;padding:0 3px;border:none;border-left:1px solid #353d48;background:#3a444f;color:#858c94;font-size:.7em;line-height:1.1em;}
.cp_floating .cp_banner .stop:before{content:'';display:block;width:9px;height:9px;margin:0 auto 5px;background:url('/techplanning/img/common/campaign_floating_r1.png') no-repeat 0 -102px;}
.cp_floating .close{display:block;overflow:hidden;position:absolute;left:0px;top:50%;width:40px;height:50px;margin-top:-25px;border:none;background:url('/techplanning/img/common/campaign_floating_r1.png') no-repeat 0 -51px;text-indent:-1000px;}
.cp_floating.on .close{background-position:0 0}
.cp_floating.on .cp_wrap{border:none;-webkit-transform: translateX(-270px);-webkit-transition: -webkit-transform 0.5s ease;transform: translateX(-270px);transition: -webkit-transform 0.5s ease;}
/*전면팝업*/
.cp_allpopup{display:none;overflow:hidden;position:absolute;top:0;left:0;width:100%;height:100%;z-index:1000}
.cp_allpopup a{display:inline;}
.cp_allpopup .cp_wrap{overflow:auto;position:relative;height:100%;background:#fff;-webkit-overflow-scrolling: touch;overflow-scrolling: touch;z-index:1;}
html.android.v2_0 .cp_allpopup{overflow:visible;}
html.android.v2_0 .cp_allpopup .cp_wrap{overflow:visible;height:auto;min-height:100%;}
html.android.v2_0 .cp_allpopup .close{position:absolute;}
.cp_allpopup .close{overflow:hidden;position:fixed;top:10px;right:10px;width:32px;height:32px;background:rgba(0,0,0,0.7) url('/techplanning/img/common/campaign_allpopup_r1.png') no-repeat 7px 8px;border:1px solid #222;border-radius:2px;text-indent:-1000px;z-index:2;}
.cp_allpopup.start .cp_wrap{-webkit-transform: translateY(100%);transform: translateY(100%);}
.cp_allpopup.animation .cp_wrap{-webkit-transform: translateY(0%);-webkit-transition: -webkit-transform 0.5s ease;transform: translateY(0%);transition:transform 0.5s ease;}
.cp_allpopup.end .cp_wrap{-webkit-transform: translateY(100%);-webkit-transition: -webkit-transform 0.5s ease; transform: translateY(100%);transition:transform 0.5s ease;}
.cp_allpopup.start .close,
.cp_allpopup.animation .close,
.cp_allpopup.end .close{-webkit-transform: scale(0);}
@media screen and (-webkit-min-device-pixel-ratio:1.5) {
.cp_floating .cp_banner .stop:before,
.cp_floating .close{background-image:url('/techplanning/img/common/campaign_floating_r2.png');background-size:40px 111px;}
.cp_allpopup .close{background-image:url('/techplanning/img/common/campaign_allpopup_r2.png');background-size:15px 15px;}
}
body.allpopup{position:relative;height:100%;}
body.allpopup #wrap{overflow:hidden;position:relative;height:100%;}
body.allpopup .cp_allpopup{display:block;overflow:hidden;height:100%;}
/*전면팝업 쇼킹딜 이벤트*/
.cp_allpopup .eve_shockingapp{background:#f2f2f2;}
.eve_shockingapp .shockingapp{padding-bottom:30px;}
.eve_shockingapp .shockingapp img{display:block;width:100%;}
.eve_shockingapp .shockingapp .btn_app{width:61%;margin:auto;}
.eve_shockingapp .shockingapp .btn_non{width:61%;margin:auto;padding-top:3%;}
.eve_shockingapp .shockingapp .btn_non img{width:37%;}
/* [프로모션내]회원DB에 CI없는 고객에 대한 팝업 안내 */
.pop_eguide{position:absolute;top:100px;left:0;width:100%;padding:0 20px;z-index:99;-webkit-box-sizing:border-box;box-sizing:border-box;}
html.android.v4_0 .pop_eguide{-webkit-transform:translateZ(0px);}
.pop_eguide .wrp{max-width:316px;margin:0 auto;border:2px solid #e01c22;background:#fff;}
.pop_eguide .txt{margin:15px 15px 0;padding:13px 15px;background:#f1f1f1;font-size:14px;line-height:19px;}
.pop_eguide .txt strong{color:#111;}
.pop_eguide .txs{margin:10px 0 15px;font-size:12px;line-height:15px;text-align:center;}
.pop_eguide .btm{overflow:hidden;margin:0 6px;padding:6px 4px;border-top:1px solid #dfdfdf;}
.pop_eguide .btm .chkBox{float:left;font-size:13px;line-height:24px;}
.pop_eguide .btm .chkBox label:before{vertical-align: -7px;}
.pop_eguide .btm button{float:right;position:relative;padding:1px 10px 0;background:none;border:none;color:#666;font-size:13px;line-height:24px;}
/* wait */
.pop_wait{padding-bottom:15px;border:2px solid #000;background:#fff;z-index:999;}
.pop_wait h1{height:37px;border-bottom:1px solid #d3d3d3;background:#ebebeb;color:#4a5566;font-size:1em;line-height:37px;text-align:center;}
.pop_wait .time{width:250px;height:170px;margin:18px auto 0;background:url('/techplanning/img/common/wait.png') no-repeat 50% 0;text-align:center;}
.pop_wait .time em{display:block;padding:55px 0 0 0;color:#4a5566;font-size:.85em;font-weight:bold;line-height:1.3em;}
.pop_wait .time span{display:block;margin-top:7px;color:#e01c22;font-size:1.5em;font-weight:bold;line-height:1.3em;}
.pop_wait .time button{overflow:hidden;position:relative;width:35px;height:35px;margin-top:5px;border:none;background:none;text-indent:-1000px;}
.pop_wait .time button:before,
.pop_wait .time button:after{content:'';display:block;position:absolute;top:9px;width:5px;height:17px;background:#4a5566;border-radius:3px;}
.pop_wait .time button:before{left:11px}
.pop_wait .time button:after{left:20px}
.pop_wait .tm{margin-top:10px;color:#464646;font-size:.8em;font-weight:bold;line-height:1.3em;text-align:center;}
.pop_wait .tm span{color:#1793e6;text-decoration:underline;letter-spacing:0;}
.pop_wait .ts{margin-top:10px;color:#797979;font-size:.75em;font-weight:bold;line-height:1.3em;text-align:center;}
/* loading */
.loading_full{position:fixed;top:50%;left:50%;z-index:102;}
.loading_full .circle{overflow:hidden;width:22px;height:22px;margin:-11px 0 0 -11px;background:url('/techplanning/img/common/loading.png') no-repeat 0 0;background-size:100% 100%;text-indent:-1000px;
/*width:14px;height:14px;margin:-7px 0 0 -7px;border:4px dotted rgba(255,255,255,0.5);border-radius:14px;*/
-webkit-animation-name: myAnimationLoaingFull;-webkit-animation-duration:.65s;-webkit-animation-iteration-count:infinite;-webkit-animation-timing-function:linear;
animation-name: myAnimationLoaingFull;animation-duration:.65s;animation-iteration-count:infinite;animation-timing-function:linear;}
@-webkit-keyframes myAnimationLoaingFull {
	from {-webkit-transform: rotate(360deg);}
	to{-webkit-transform: rotate(0deg)}
}
@keyframes myAnimationLoaingFull {
	from {transform: rotate(360deg);}
	to{transform: rotate(0deg)}
}
.loading_full .circle.type1{background-image:url('/techplanning/img/common/loading_1.png');}
.loading_full .txt{width:300px;margin:65px 0 0 -150px;color:#fff;font-size:1em;font-weight:bold;text-align:center;}
#wrap:after{content:'';display:block;position:absolute;width:1px;height:1px;margin-top:-1px;background:url('/techplanning/img/common/loading.png') no-repeat 100px 100px;}
/* back */
body.backType{position:relative;height:auto;min-height:100%;}
body.backType #cts{z-index:auto;}
#back{display:none;position:absolute;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,0.8);-webkit-tap-highlight-color: rgba(0, 0, 0, 0);z-index:101;}
#back.type1{background:rgba(255,255,255,0.01);} /*투명배경타입*/

body.backType_fix{position:relative;height:100%;}
body.backType_fix #wrap{overflow:hidden;position:relative;height:100%;}

.dim{display:none;position:fixed;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,0.6);z-index:101;}
/* mwUI.sticky에 필요한 style - .mwUI_is_fixed : sticky가 지원되지 않을 경우 class; .mwUI_is_sticky : sticky가 지원되는 경우 class; */
.mwUI_is_fixed {position:fixed;top:0;z-index:100;-moz-transform:translateZ(0);-webkit-transform:translateZ(0);-o-transform:translateZ(0);-ms-transform:translateZ(0);transform:translateZ(0);}
.mwUI_is_sticky {position:-webkit-sticky;position:-moz-sticky;position:-ms-sticky;position:-o-sticky;position:sticky;top:0;z-index:100;}
.showLayer{-webkit-transform:translate(-300px,0);}